################################################################################
# 此 .gitignore 文件为所需忽略文件。
################################################################################

# Libraries


# Shared objects (inc. Windows DLLs)


# Executables
#*.exe

# Metadata
#-*.aliases
#-*.lvlps
#-*.tar.gz
#-*.tar
#-*.zip
#-*.rar

# 忽略的目录
*.DS_Store
*._*
*.exe
*.rpm
.idea